@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>MVC proj for amar loruu</h1>
        <p class="lead">100 main handjob 😁😁🙌🙌.</p>
        <p>
            @Html.ActionLink("Players", "Index", "Players")
        </p>
    </div>

